body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  background: rgb(146, 30, 21);

  font-size: 2em;
  padding: 0.4em 1em;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  border-bottom: 3px solid;
}

ul {
  list-style: none;
}

li::before {
  content: '\21aa';
  margin-left: -20px;
  margin-right: 10px;
}

li {
  padding: .3em 0 0.7em 10px;
}

section {
  font-size: .7em;
}